* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary-blue: #62b4ff;
  --color-secondary-green: #2dd67b;
  --color-tertiary-pink: #ff6377;
  --color-quaternary-yellow: #ffcc00;
  --color-quinary-gray: #667f97;
  --color-white: #fff;
  --color-secondary-hover: hsla(148, 67%, 51%, 0.35);
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f2f3;
}
